VITE_GCOS_API_BASE=
GCOS_API_PORT=8787
GCOS_HOST=0.0.0.0
GCOS_DOMAIN=rmvi.org
GCOS_DEPLOYMENT_TARGET=replit
GCOS_STORAGE_PROVIDER=database
GCOS_DATABASE_URL=postgres://USER:PASSWORD@HOST:5432/DATABASE
GCOS_DATABASE_SSL=1
GCOS_DATABASE_POOL_SIZE=5
GCOS_DATA_PATH=/var/lib/gcos/gcos-state.json
GCOS_OBJECT_VAULT_PATH=/var/lib/gcos/object-vault
GCOS_SERVE_WEB=1
GCOS_WEB_DIST_PATH=dist
GCOS_HEALTHCHECK_URL=https://rmvi.org
GCOS_ALLOWED_ORIGIN=https://rmvi.org
GCOS_MAX_BODY_BYTES=1048576
GCOS_LOGIN_RATE_LIMIT=8
GCOS_LOGIN_RATE_WINDOW_MS=300000
GCOS_MUTATION_RATE_LIMIT=2000
GCOS_MUTATION_RATE_WINDOW_MS=60000
GCOS_ENABLE_DEV_RESET=0
