VITE_GCOS_API_BASE=
GCOS_API_PORT=8787
GCOS_HOST=0.0.0.0
GCOS_DATA_PATH=/var/lib/gcos/gcos-state.json
GCOS_SERVE_WEB=1
GCOS_WEB_DIST_PATH=dist
GCOS_HEALTHCHECK_URL=https://rmvi.org
GCOS_ALLOWED_ORIGIN=https://rmvi.org
GCOS_MAX_BODY_BYTES=1048576
GCOS_ENABLE_DEV_RESET=0
