VITE_GCOS_API_BASE=http://127.0.0.1:8787
GCOS_API_PORT=8787
GCOS_HOST=127.0.0.1
GCOS_DATA_PATH=data/gcos-state.json
GCOS_SERVE_WEB=0
GCOS_WEB_DIST_PATH=dist
GCOS_HEALTHCHECK_URL=http://127.0.0.1:8787
GCOS_ALLOWED_ORIGIN=*
GCOS_MAX_BODY_BYTES=1048576
GCOS_ENABLE_DEV_RESET=1
